<% if (role === 'admin') { %>
    <%- include('partials/headerAdmin.ejs') %>
<% } else { %>
    <%- include('partials/headerEmpleado.ejs') %>
<% } %>



<div class="container mt-5">
    <div class="message" style="margin-left: 10px;">
        <% if (exito && exito.length > 0) { %>
            <div class="alert alert-dismissible alert-success">
                <strong>Muy bien!</strong>  <%= exito[0] %>
              </div>
        <% } %>
        <% if (error && error.length > 0) { %>
            <div class="alert alert-dismissible alert-danger">
                <strong>Ups!</strong>  <%= error[0] %>
            </div>
        <% } %>
    </div>
    <!-- Sección de Información del Cliente y Empeño -->
    <div class="row mb-5">
        <!-- Información del Cliente -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-secondary text-white text-center">
                    <i class="bi bi-person-circle" style="font-size: 3rem; color: dimgray;"></i>
                    <h5>Información del Cliente</h5>
                </div>
                <div class="card-body">
                    <p><strong>Nombre:</strong> <a href="/cliente-profile/<%= cliente.cedula_cliente %>"><%= cliente.nombre_cliente %></a> </p>
                    <p><strong>Cédula:</strong> <%= cliente.cedula_cliente %></p>
                    <p><strong>Teléfono:</strong> <%= cliente.telefono_cliente %></p>
                </div>
            </div>
        </div>

        <!-- Información del Empeño -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-secondary text-white text-center">
                    <i class="bi bi-journal" style="font-size: 3rem; color: dimgray;"></i>
                    <h5>Información del Empeño</h5>
                </div>
                <div class="card-body">
                    <p><strong>Boleta:</strong> <%= empeno.boleta_empeno %></p>
                    <p><strong>Fecha:</strong> <%= empeno.fecha_ingreso %></p>
                    <p style="color: green;"><strong>Valor:</strong> ¢<%= formatNumber(value) %></p>
                    <% if (estado === 'Al día') { %>
                        <p style="color: green;"><strong>Estado:</strong> <%= estado %></p>
                    <% } else { %>
                        <p style="color: darkgoldenrod;"><strong>Estado:</strong> <%= estado %></p>
                    <% } %>
                    <p style="margin-bottom: 5px;">Sucursal: <%= sucursal %></p>
                    <!-- Botón para abrir el modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#printPointOfSaleModal">
                        <a href="#" onclick="window.open('/imprimir-empeno/<%= empeno.boleta_empeno %>');" title="Imprimir Empeño" class="print">
                            <i class="bi bi-printer" style="font-size: 1.2rem;"></i>
                        </a> 
                    </button>


                </div>
            </div>
        </div>
    </div>

    <!-- Sección de Joyas Empeñadas -->
    <div class="row">
        <div class="col-md-12">
            <i class="bi bi-gem" style="font-size: 2rem;"></i>
            <h5>Joyas Empeñadas</h5>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Joya</th>
                        <th>Descripción</th>
                        <th>Peso</th>
                        <th>Material</th>
                        <th>Kilataje</th>
                        <th>Valor</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <% joyas.forEach(joya => { %>
                        <tr>
                            <td><%= joya.joya %></td>
                            <td><%= joya.descripcion %></td>
                            <td><%= formatNumber(joya.peso) %> g</td>
                            <td><%= joya.material %></td>
                            <td><%= joya.kilates %></td>
                            <td>₡<%= formatNumber(joya.valor) %></td>
                            <!-- Columna para editar -->
                            <td class="text-center">
                                <a href="/editar-joya/<%= joya.id %>" class="editar-cliente needs-confirmation" title="Editar Joya">
                                    <i class="bi bi-pencil-square text-warning" style="font-size: 1.2rem;"></i>
                                </a>
                            </td>
                            <!-- Columna para eliminar -->
                            <td class="text-center">
                                <a href="/eliminar-joya/<%= joya.id %>" title="Eliminar Joya" class="delete needs-confirmation";">
                                    <i class="bi bi-trash text-danger" style="font-size: 1.2rem;"></i>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                    <!-- Agrega más filas de joyas aquí -->
                </tbody>
            </table>
            <a href="/registrar-joyas/?boleta=<%= empeno.boleta_empeno %>"><button type="button" class="btn btn-primary mt-2 mb-5">Añadir Nueva Joya</button></a>
            
        </div>
    </div>

    <!-- Sección de Pagos Realizados -->
    <div class="row">
        <div class="col-md-12">
            <i class="bi bi-plus-circle-dotted" style="font-size: 2rem;"></i>
            <h5>Pagos Realizados</h5>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Tipo</th>
                        <th>Mes Pago</th>
                        <th>Fecha Registro</th>
                        <th>Monto</th>
                        <th style="width: 5% !important;">Imprimir</th>
                        <th style="width: 5% !important;">Editar</th>
                        <th style="width: 5% !important;">Eliminar</th>
                    </tr>
                </thead>
                <tbody>

                    <% pagos.forEach(pago => { %>
                        <tr>
                            <td><%= pago.tipo_pago %></td>
                            <td><%= pago.fecha_pago %></td>
                            <td><%= pago.fecha_registrada %></td>
                            <td>¢<%= formatNumber(pago.monto_pago) %></td>
                            <td class="text-center">
                                <a href="#" onclick="window.open('/imprimir-pago/<%= pago.id %>');" title="Imprimir Pago" class="print">
                                    <i class="bi bi-printer" style="font-size: 1.2rem;"></i>
                                </a>                                
                            </td>
                            <td class="text-center">
                                <a href="/editar-pago/<%= pago.id %>" class="editar-pago needs-confirmation" title="Editar Pago">
                                    <i class="bi bi-pencil-square text-warning" style="font-size: 1.2rem;"></i>
                                </a>
                            </td>
                            <!-- Columna para eliminar -->
                            <td class="text-center">
                                <a href="/eliminar-pago/<%= pago.id %>" title="Eliminar Pago" class="delete needs-confirmation";">
                                    <i class="bi bi-trash text-danger" style="font-size: 1.2rem;"></i>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                    <!-- Agrega más filas de pagos aquí -->
                </tbody>
            </table>
            <a href="/registrar-pagos/?boleta=<%= empeno.boleta_empeno %>"><button type="button" class="btn btn-primary mt-2 mb-5">Añadir Nuevo Pago</button></a>
        </div>
    </div>
</div>

<iframe id="printFrame" style="display:none;"></iframe>

<!-- Modal de Impresión Punto de Venta -->
<div class="modal fade" id="printPointOfSaleModal" tabindex="-1" role="dialog" aria-labelledby="printPointOfSaleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="printPointOfSaleModalLabel">Impresión Punto de Venta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="printContainer">
                    <!-- Contenido del Modal con Estilos para Impresión -->
                    <div class="print-container" style="width: 80mm;">
                        <style>
                            body {
                                font-size: 12px;
                                line-height: 1.5;
                                font-family: 'Nunito Sans', sans-serif;
                            }
                            h6 {
                                margin-bottom: 10px;
                                font-weight: bold;
                            }
                            p, li {
                                margin-bottom: 5px;
                            }
                            ul {
                                padding-left: 20px;
                                margin-bottom: 10px;
                            }
                            .text-center {
                                text-align: center;
                            }
                            .firmas p {
                                margin-bottom: 0;
                            }
                            @media print {
                                body {
                                    color: black;
                                }
                                .print-container {
                                    width: 80mm;
                                }
                            }
                        </style>
                        <!-- Aquí va todo el contenido que deseas imprimir -->
                        <div class="tittle text-center">
                            <h3>Empeño <%= sucursal %></h3>
                        </div>
                        <h6>Cliente: <%= cliente.nombre_cliente %></h6>
                        <p>Cédula: <%= cliente.cedula_cliente %></p>
                        <p>Teléfono: <%= cliente.telefono_cliente %></p>
                        <h6 class="mt-3">Boleta: <%= empeno.boleta_empeno %></h6>
                        <p>Fecha: <%= empeno.fecha_ingreso %></p>
                        <p style="color: green;">Valor Total: ¢<%= formatNumber(value) %></p>
                        <h6 class="mt-3">Joyas Empeñadas:</h6>
                        <ul style="color: black;">
                            <% joyas.forEach(joya => { %>
                                <li style="color: black !important;"><%= joya.joya %> - <%= joya.descripcion %> - <%= joya.material %> - <%= joya.kilates %> - <%= formatNumber(joya.peso) %> g - ¢<%= formatNumber(joya.valor) %></li>
                            <% }) %>
                        </ul>
                        <div class="firmas text-center mt-5">
                            <p>Atiende: <%= userName %></p>
                            <p>_______________________________________</p>
                            <p>Cliente:</p>
                            <p>_______________________________________</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="printContent('printContainer')">Imprimir</button>
            </div>
        </div>
    </div>
</div>







<!-- Función para imprimir-->
<script>
    function printContent(el) {
        var printContent = document.getElementById(el).innerHTML;
        var mywindow = window.open('', 'PRINT', 'height=600,width=1170');
        
        mywindow.document.write('<html><head><title>' + document.title  + '</title>');
        
        // Incluye los estilos CSS directamente en el contenido que estás imprimiendo
        mywindow.document.write('<style>');
        mywindow.document.write('body { font-family: "Nunito Sans", sans-serif; font-size: 12px; line-height: 1.5; }');
        mywindow.document.write('.tittle {font-size: 18px,}')
        mywindow.document.write('h6 { margin-top: 10px; font-weight: 400; font-size: 16px; }');
        mywindow.document.write('p, li { margin-bottom: 5px; }');
        mywindow.document.write('ul { padding-left: 20px; margin-bottom: 10px; }');
        mywindow.document.write('.text-center { text-align: center; }');
        mywindow.document.write('.firmas p { margin-bottom: 10px; }');
        mywindow.document.write('@page { size: 80mm 150mm; margin: 5mm; }');
        mywindow.document.write('</style>');
        
        mywindow.document.write('</head><body >');
        mywindow.document.write(printContent);
        mywindow.document.write('</body></html>');
        
        mywindow.document.close();
        mywindow.focus();
        
        mywindow.print();
        mywindow.close();
        
        return true;
    }








// Cuando el modal se oculta (se cierra)
$(document).ready(function() {
    // Cuando el modal se oculta (se cierra)
    $('#printPointOfSaleModal').on('hidden.bs.modal', function () {
        // Reinicializar el evento de clic del botón de cerrar
        $('.close-modal-button').off('click').on('click', function() {
            // Tu código aquí, si necesitas realizar alguna acción adicional al cerrar el modal.
        });
    });
});



</script>










<!-- Enlace al script de Font Awesome para los iconos -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<script>
    $(document).ready(function() {
    $('.needs-confirmation').on('click', function(event) {
        event.preventDefault();
        const url = $(this).attr('href');

        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Quieres editar este dato?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, editar!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Mostrar el loader
                $('#page-transition-overlay').addClass('active');
                setTimeout(function() {
                    window.location.href = url;
                }, 500); // Espera 1 segundo antes de cambiar de página
            }
        });
    });

    $('.delete').on('click', function(event) {
        event.preventDefault();
        const url = $(this).attr('href');

        Swal.fire({
            title: '¡Cuidado!',
            text: "¿Realmente quieres eliminar este dato, no se podrá revertir?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33', // Color rojo para la acción de eliminar
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Mostrar el loader
                $('#page-transition-overlay').addClass('active');
                setTimeout(function() {
                    window.location.href = url;
                }, 500); // Espera 1 segundo antes de cambiar de página
            }
        });
    });
});

</script>