<% if (role === 'admin') { %>
    <%- include('partials/headerAdmin.ejs') %>
<% } else { %>
    <%- include('partials/headerEmpleado') %>
<% } %>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <i class="bi bi-person-add" style="font-size: 3rem; color: green;"></i>
                    <h1>Registrar Nuevo Usuario</h1>
                </div>                
                <div class="card-body">
                    <form action="/register" method="post" id="user-register">
                        <!-- Campo Usuario -->
                        <div class="form-group">
                            <label for="nombre">Usuario:</label>
                            <input type="text" class="form-control" name="username" placeholder="Escribe el usuario" required>
                        </div>

                        <!-- Campo Nombre -->
                        <div class="form-group">
                            <label for="username">Nombre:</label>
                            <input type="text" class="form-control" name="nombre" placeholder="Escribe el Nombre del Usuario" required>
                        </div>
                        
                        <!-- Campo Contrase침a -->
                        <div class="form-group">
                            <label for="password">Contrase침a:</label>
                            <input type="password" class="form-control" name="password" placeholder="Ingresa la contrase침a" required>
                        </div>
                        
                        <!-- Campo Rol -->
                        <div class="form-group">
                            <label for="role">Rol:</label>
                            <select class="form-control" name="role">
                                <option value="admin">Admin</option>
                                <option value="empleado">Empleado</option>
                            </select>
                        </div>

                        <!-- Campo Sucursales -->
                        <div class="form-group mb-5">
                            <label class="font-weight-bold">Sucursales:</label>
                            <% sucursales.forEach(sucursal => { %>
                                <div class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" id="sucursal-<%= sucursal.id %>" name="sucursales" value="<%= sucursal.id %>">
                                    <label class="form-check-label" for="sucursal-<%= sucursal.id %>"><%= sucursal.nombre %></label>
                                </div>
                            <% }); %>
                            <small class="form-text text-muted">Activa los interruptores de las sucursales que desees seleccionar.</small>
                            <div id="sucursal-alert" class="alert alert-danger mt-3" style="display: none;">
                                Por favor, selecciona al menos una sucursal.
                            </div>
                        </div>
                                        
                        
                        <!-- Bot칩n de Registro -->
                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    